#field td {
    padding: 15px;
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.hide span {
    opacity: 1;
}

.red span {
    color: red;
}

.green span {
    color: green;
}