#field td {
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

#field td span {
    padding: 15px;
    display: block;
    text-align: center;
}

.hide {
    opacity: 1;
}

.red span {
    color: red;
}

.green span {
    color: green;
}